.community-section {
  padding: 40px 24px;
  max-width: 425px;
  background-image: url('../images/main-bgc-join.jpeg');
  background-size: cover;
  margin-left: -24px;
  margin-right: -24px;
  height: 433px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .community-section {
    max-width: 964px;
    height: 351px;
    border-radius: 30px;
  }
}
// .community-img-container {
//   position: absolute;
//   z-index: -1;
//   top: 0;
//   max-width: 425px;
//   height: 433px;
//   margin-left: -24px;
//   margin-right: -24px;
// }
// .community-bgc-img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   object-position: 2%;
// }
.community-title {
  color: #fff;

  // font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}

.community-text-container {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .community-text-container {
    width: 400px;
    margin-bottom: 60px;
  }
}

.community-text {
  color: #fff;
  //   font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71;
}
.community-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .community-form {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.community-input {
  width: 327px;
  padding: 22px 24px;
  border-radius: 16px;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .community-input {
    width: 370px;
  }
}

.community-input::placeholder {
  color: rgba(23, 30, 39, 0.5);

  //   font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.community-btn {
  width: 327px;
  padding: 20px 40px;
  border-radius: 16px;
  background: #a9c2cb;
  box-shadow: 0px 19px 45px -10px rgba(13, 15, 18, 0.5);
  color: #fff;

  // font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .community-btn {
    width: 200px;
  }
}
