.footer-section {
  margin-bottom: 24px;
  position: relative;
}

@media screen and (min-width: 1440px) {
  .footer-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.footer-icon {
  margin-bottom: 32px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #020305;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (min-width: 1440px) {
  .footer-list {
    display: flex;
    flex-direction: row;
    gap: 213px;
  }
}

.footer-sub-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .footer-sub-list {
    flex-direction: row;
  }
}

.footer-sub-list.list {
  display: flex;
  flex-direction: row;
}

// .footer-item {
// }

// .footer-sub-item {
// }

.footer-link {
  transition: color 0.3s;
}

.footer-link:hover,
.footer-link:focus {
  color: #b0c4de;
}

.footer-link.email {
  color: #5c5050;
}

@media screen and (min-width: 1440px) {
  .footer-item.email {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.footer-link.email:hover,
.footer-link.email:focus {
  text-decoration-line: underline;
}
