.header {
  height: 72px;
  display: flex;
  min-width: 375px;
  max-width: 425px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 0 auto;
  padding: 0px 24px;
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    padding: 0 24px;
  }
}

.header-icon {
  width: 129px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .header-icon {
    width: 153px;
    height: 24px;
    margin-right: 60px;
  }
}

.modal-btn {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .modal-btn {
    display: none;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-btn {
    display: inline-flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #0d0f12;
    box-shadow: 0px 19px 45px -10px rgba(13, 15, 18, 0.5);
    color: white;
  }
}

.header-nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 20px;
  }
}

.header-nav-item {
  color: #020305;
  // font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
// .header-nav-link {
// }
