.header {
    height: 72px;
}

.mobile-header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin:0;
    padding: 0px 24px;
}

.modal-btn { 
    border: none;
    background-color: transparent;
}

// .header-logo { 

// }


// .header-mobile-modal-icon {
// }