.join-section {
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .join-section {
    display: flex;
    flex-wrap: wrap;
  }
}

.join-icon {
  margin-bottom: 12px;
}

.join-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .join-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.join-item {
}

@media screen and (min-width: 768px) {
  .join-item {
    width: 300px;
  }
}

.join-title {
  color: #0d0f12;
  // font-family: Plus Jakarta Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 40px;
}

.join-subtitle {
  color: #020305;
  //   font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 8px;
}

.join-text {
  color: #171e27;
  //   font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71;
}
