<div class="about-section">
  <div class="about-img-container">
    <img
      class="about-background-img"
      src="/src/images/main-background-about.jpeg"
      alt="moon"
    />
  </div>
    <h1 class="about-title">Unveiling the Wonders of the Universe</h1>
    <img
      class="about-astronaut-img"
      src="/src/images/astrounaunt-img.png"
      alt="astronaut"
    />
    <div class="about-block-1">
      <svg class="about-icon" width="32" height="32">
        <use href="/src/images/sprite.svg#icon-heart"></use>
      </svg>
      <p class="about-block-text">Exercising</p>
      <svg class="about-icon" width="125" height="29">
        <use href="/src/images/sprite.svg#icon-statistic"></use>
      </svg>
    </div>
    <div class="about-block-2">
      <svg class="about-icon" width="32" height="32">
        <use href="/src/images/sprite.svg#icon-part"></use>
      </svg>
      <p class="about-block-text">Spacewalks</p>
      <div class="row">
        <svg class="about-icon" width="95" height="49">
          <use href="/src/images/sprite.svg#icon-statistic"></use>
        </svg>
        <svg class="about-icon" width="47" height="47">
          <use href="/src/images/sprite.svg#icon-statistic-1"></use>
        </svg>
      </div>
    </div>
    <div class="about-time">
      <svg class="about-icon" width="32" height="32">
        <use href="/src/images/sprite.svg#icon-timer"></use>
      </svg>
      <p class="about-time-text">Total time in space</p>
      <span class="about-time-counter">352D 5H 49M 20S</span>
    </div>
  


    <!-- About text -->
    <p class="about-text">
      At odissey, our mission is to inspire, educate, and ignite your passion
      for the cosmos. We are your premier destination for all things related to
      space exploration, astronomy, and the mysteries of the universe. Whether
      you're a seasoned astronomer or a curious novice, join us on a journey to
      the furthest reaches of the cosmos.
    </p>
    <div class="btn-container">
      <button class="about-btn">Get started</button>
      <a class="about-video-link" href=""
        >Watch video
        <svg class="about-icon" width="32" height="32">
          <use href="/src/images/sprite.svg#icon-player"></use>
        </svg>
      </a>
    </div>
    <ul class="about-company-list">
      <li class="company-item">
        <a href="">
     
         <svg class="company-logo" width="88" height="24">
            <use href="/src/images/sprite.svg#icon-space-x-logo"></use>
          </svg>
      </a>
      </li>
      <li class="company-item">
        <a href="">
          <svg class="company-logo" width="58" height="24">
            <use href="/src/images/sprite.svg#icon-nasa-logo"></use>
          </svg>
    
      </a>
      </li>
      <li class="company-item">
        <a href="">

         <svg class="company-logo" width="88" height="24">
            <use href="/src/images/sprite.svg#icon-boeing-logo"></use>
          </svg>
      </a>
      </li>
      <li class="company-item">
        <a href="">
           <svg class="company-logo" width="88" height="24">
            <use href="/src/images/sprite.svg#icon-astroscale-logo"></use>
          </svg>
 
      </a>
      </li>
    </ul>
  </div>
</div>
