<div class="community-section">
  <!-- <div class="community-img-container">
    <img class="community-bgc-img" src="./images/main-bgc-join.jpeg" alt="" />
  </div> -->
  <div class="community-text-container">
    <h4 class="community-title">Join our community</h4>
    <p class="community-text">
      of stargazers, explorers, and cosmic enthusiasts as we embark on a journey
      through the cosmos like never before.
    </p>
  </div>
  <form class="community-form" action="">
    <input class="community-input" type="text" placeholder="Enter your email" />
    <button class="community-btn">Subscribe</button>
  </form>
</div>
