<div class="education-section">
  <div class="image-container">
    <img
      class="image-bgc-education"
      src="/src/images/main-bgc-education.jpeg"
      alt=""
    />
  </div>
  <h3 class="education-title">
    We are committed to making space science accessible to all. Explore our
    educational resources, including
  </h3>
  <ul class="education-list">
    <li class="education-item">
      <span class="education-step">01.</span>
      <p class="education-subtitle">Online free courses and tutorials</p>
      <p class="education-text">
        Dive into the basics of astronomy. Learn about stars, planets, galaxies,
        and the tools astronomers use to explore the universe.
      </p>
    </li>
    <li class="education-item">
      <span class="education-step">02.</span>
      <p class="education-subtitle">Resources for teachers and educators</p>
      <p class="education-text">
        Delve into the cutting-edge technology powering space exploration, from
        spacecraft and telescopes to propulsion systems and space habitats.
      </p>
    </li>
    <li class="education-item">
      <span class="education-step">03.</span>
      <p class="education-subtitle">Book recommendations and reviews</p>
      <p class="education-text">
        Dive into the basics of astronomy. Learn about stars, planets, galaxies,
        and the tools astronomers use to explore the universe.
      </p>
    </li>
  </ul>
</div>
