<div class="footer-section">
  <a href="">
    <svg class="footer-icon" width="153" height="24">
      <use href="/src/images/sprite.svg#icon-odyssey"></use>
    </svg>
  </a>
  <ul class="footer-list">
    <li class="footer-item">
      <a class="footer-link" href="">Stay Connected</a>
    </li>
    <li class="footer-item">
      <a class="footer-link" href="">Education</a>
    </li>
    <li class="footer-item">
      <a class="footer-link" href="">Community</a>
    </li>
    <li class="footer-item">
      <a class="footer-link" href="">About Us</a>
    </li>
    <div class="footer-item-container">
      <li class="footer-item">
        <a class="footer-link" href="">Privacy policy</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="">Terms & Agreements</a>
      </li>
      <li class="footer-item">
        <a class="footer-link email" href="">[contact@odyssey.com].</a>
      </li>
    </div>
  </ul>
</div>
