<div class="header">
  <nav class="header-nav">
    <a href="">
      <svg class="header-icon">
        <use href="/src/images/sprite.svg#icon-odyssey"></use>
      </svg>
    </a>
    <ul class="header-nav-list">
      <li class="header-nav-item" class="header-nav-item">
        <a class="header-nav-link" class="header-nav-link" href=""
          >Stay Connected</a
        >
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Education</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Community</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">About Us</a>
      </li>
    </ul>
  </nav>
  <button class="header-btn">Sign in</button>
  <button class="modal-btn">
    <svg class="header-mobile-modal-icon" width="32" height="24">
      <use href="/src/images/sprite.svg#icon-widgets"></use>
    </svg>
  </button>
</div>
