<div class="join-section">
  <h2 class="join-title">
    Join our vibrant community of space enthusiasts where you can
  </h2>
  <ul class="join-list">
    <li class="join-item">
      <svg class="join-icon" width="52" height="52">
        <use href="/src/images/sprite.svg#icon-astronomy"></use>
      </svg>
      <span class="join-subtitle">Astronomy 101</span>

      <p class="join-text">
        Dive into the basics of astronomy. Learn about stars, planets, galaxies,
        and the tools astronomers use to explore the universe.
      </p>
    </li>
    <li class="join-item">
      <svg class="join-icon" width="52" height="52">
        <use href="/src/images/sprite.svg#icon-note"></use>
      </svg>
      <span class="join-subtitle">Latest Discoveries</span>
      <p class="join-text">
        Stay up-to-date with the most recent breakthroughs and discoveries in
        the field of astrophysics and space exploration.
      </p>
    </li>
    <li class="join-item">
      <svg class="join-icon" width="52" height="52">
        <use href="/src/images/sprite.svg#icon-scope"></use>
      </svg>
      <span class="join-subtitle">Space Exploration</span>
      <p class="join-text">
        Explore the latest missions, both past and present, from NASA, ESA,
        SpaceX, and other space agencies and organizations.
      </p>
    </li>
    <li class="join-item">
      <svg class="join-icon" width="52" height="52">
        <use href="/src/images/sprite.svg#icon-technology"></use>
      </svg>
      <span class="join-subtitle">Space Technology</span>
      <p class="join-text">
        Delve into the cutting-edge technology powering space exploration, from
        spacecraft and telescopes to propulsion systems.
      </p>
    </li>
  </ul>
</div>
